/* General Styles */
.row-container {
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.row-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.row-image {
  width: 180px;
    height: 80px;
    object-fit: cover;
}

.row-content {
  text-align: center;
}

.row-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #333;
}

.row-text {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.5;
}

/* Students Section */
.students-section {
  margin-top: 50px;
}

.student-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  background: #fff;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0px 10px 10px rgba(54, 22, 231, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.student-image {
  width: 100%;
  max-width: 150px;  /* Set a maximum width for images */
  height: 150px;  /* Set a fixed height */
  
  /* object-fit: cover;  Ensures the image stays proportional inside the circle */
  margin-bottom: 10px;
}

.student-name {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 0;  /* Ensure no extra space below the student name */
}

/* Swiper Overrides */
.mySwiper {
  padding: 20px 0;
}
.swiper{
  padding: 10px !important;
}

.swiper-pagination-bullet {
  background: #333;
}

.swiper-pagination-bullet-active {
  background: #007bff;
}

/* Responsive Adjustments */
@media (min-width: 480px) {
  .row-item {
    flex-direction: row;
    text-align: left;
    padding: 25px;
  }

  .row-image {
    object-fit: cover;
    height: 80px;
    width: 180px;
  }

  .row-content {
    text-align: left;
  }

  .row-title {
    font-size: 1.5rem;
  }

  .row-text {
    font-size: 1rem;
  }

  .student-image {
    max-width: 150px;
    height: 150px;
  }

  .student-name {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .row-title {
    font-size: 1.75rem;
  }

  .row-text {
    font-size: 1.1rem;
  }

  .student-image {
    max-width: 180px;
    height: 180px;
  }

  .student-name {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .row-item {
    margin-bottom: 40px;
    padding: 30px;
  }

  .row-title {
    font-size: 2rem;
  }

  .row-text {
    font-size: 1.2rem;
  }

  .student-image {
    max-width: 200px;
    height: 200px;
  }

  .student-name {
    font-size: 1.5rem;
  }
}
